/* Header */

.header-main {
  background-image: url(../../../public/assets/group-people.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 7px solid #e1ecff;
  padding-top: 33%;
}

.group-people-img {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -99;
}

.sign-in {
  width: 20%;
  margin-inline-start: 12vw;
  height: 3em;
  background-color: white !important;
  border-radius: 15px;
  color: #3580ff !important;
  font-size: 1.6rem;
  font-weight: 600 !important;
  transition: all 0.5s ease;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 74vw;
  height: 16rem;
  color: white;
  background: rgba(50, 105, 249, 0.12);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  margin-left: 7vw;
}

.intro-text {
  margin: 0;
  line-height: 5rem;
  font-weight: 600;
  font-size: 4.4rem;
  padding: 2%;
  padding-right: 0 !important;
}

.download-app {
  width: fit-content;
  margin-left: 6%;
  margin-block: 3.4%;
}

.store-icon {
  width: 20vw;
  margin: 1vw;
}

.logo-sm {
  display: none;
}

@media screen and (max-width: 1280px) {
  .sign-in {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1145px) {
  .sign-in {
    font-size: 1rem;
    margin-inline-start: 6vw;
  }
}

@media screen and (max-width: 1078px) {
  .header-content {
    height: 28vh;
  }

  .intro-text {
    line-height: 8vh;
    font-size: 5.4vh;
  }
}

@media screen and (max-width: 991px) {
  .header-main {
    background-size: 114%;
    border-bottom: none;
  }
  .header-content {
    position: relative;
    top: -16vh;
    max-width: 88vw;
  }
  .sign-in {
    margin: 0 !important;
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
  }
  .store-icon {
    width: 32vw;
  }
  .download-app {
    position: relative;
    top: -12vh;
  }
}

@media screen and (max-width: 694px) {
  .logo-normal {
    display: none;
  }
  .logo-sm {
    display: inline-block;
  }
  .header-content {
    top: -12vh;
    height: 24vh;
  }
  .intro-text {
    line-height: 6vh;
    font-size: 4vh;
    padding: 2vh !important;
  }
}

@media screen and (max-width: 584px) {
  .header-content {
    top: -8vh;
    height: 20vh;
  }
  .download-app {
    position: relative;
    top: -8vh;
  }
}

@media screen and (max-width: 495px) {
  .header-main {
    padding-top: 54%;
  }
  .header-content {
    top: -16vh;
    border-radius: 12px;
    backdrop-filter: blur(8px);
  }
  .download-app {
    position: relative;
    top: -14vh;
  }
  .intro-text {
    line-height: 4vh;
    font-size: 3vh;
    padding: 1vh !important;
  }
  .sign-in {
    font-size: 3vw;
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .header-main {
    padding-top: 62%;
  }
  .header-content {
    top: -12vh;
    height: 16vh;
    backdrop-filter: blur(6px);
  }
  .download-app {
    top: -12vh;
  }
  .intro-text {
    line-height: 3.4vh;
    font-size: 2.6vh;
  }
}
