.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.4rem 9.4rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 68px;

  width: 375px;
  height: 25px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
