.how-it-works-wrap {
  background: url(../../../public/assets/working.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 30%);
  padding-top: 40px;
}

.how-it-works {
  margin: 0;
  /* padding-top: 80px; */
  font-family: "Glory" !important;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
}

.download-steps {
  margin: auto;
  height: 240px;
  width: 84vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.steps {
  display: flex;
  gap: 24px;
}

.steps .index {
  margin-block: 1.6rem;
  color: #3580ff;
  width: 2.2rem;
  height: 2.2rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 0px white;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.step-text {
  color: white;
}

.step-title {
  font-weight: 500;
}

.step-desc {
  font-weight: 300;
  font-size: 1.16rem;
  font-style: italic;
  margin-block: 12px;
}

.download-app-centered {
  display: flex;
  justify-content: center;
  height: 160px;
}

.store-image {
  height: 66px;
  margin: 8px;
}
