/* Features CSS */

.features-wrap {
  display: flex;
  flex-direction: column;
}

.features-main {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.features-heading {
  display: flex;
}

.features-heading h1 {
  margin-left: 120px;
  margin-top: 100px;
  margin-bottom: 64px;
}

.features-heading h1 span {
  font-family: "Glory" !important;
  font-size: 6.84vh;
  font-weight: 600;
  transition: all 0.5s ease;
}

.dark-text {
  color: #32236f;
}

.blue-text {
  color: #6a49f2;
}

.features-image img {
  width: 780px;
  transition: all 0.5s ease;
}

.features-list-wrap {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
  margin: 100px;
}

.feature-details * {
  transition: all 0.5s ease;
}

.feature-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
  margin: 16px 64px;
}

.feature-icon,
.feature-title,
.feature-para {
  position: relative;
  left: -32px;
}

.feature-title,
.feature-para {
  left: -64px;
  font-style: italic;
  color: #2f2c4a;
}

.feature-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin-inline: auto;
  top: -8px;
}

.feature-title {
  margin: 0;
  margin-block: auto;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  top: -8px;
}

.feature-para {
  font-weight: 300;
  top: -24px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin-bottom: 0;
}

.slider-button-wrap {
  display: none;
}

@media screen and (max-width: 1764px) {
  .feature-details {
    margin: 16px 32px;
  }

  .features-heading h1 {
    margin-left: 100px;
    margin-top: 94px;
    margin-bottom: 52px;
  }

  .features-heading h1 span {
    font-size: 6.8vh;
  }

  .feature-title {
    font-size: 24px;
  }
  .features-list-wrap {
    margin: 40px;
  }
}

@media screen and (max-width: 1618px) {
  .features-heading h1 {
    margin-left: 80px;
    margin-top: 76px;
    margin-bottom: 41px;
  }

  .features-heading h1 span {
    font-size: 6.4vh;
  }

  .features-image img {
    width: 680px;
  }
  .feature-title {
    font-size: 22px;
  }
  .feature-icon {
    height: 12vh;
    left: -48px;
  }
  .feature-para {
    line-height: 1.4rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 1478px) {
  .feature-para {
    top: -16px;
  }

  .features-heading h1 {
    margin-left: 72px;
    margin-top: 64px;
    margin-bottom: 36px;
  }

  .features-heading h1 span {
    font-size: 6vh;
  }

  .features-image img {
    width: 580px;
  }
  .feature-title {
    font-size: 20px;
  }
  .feature-icon {
    height: 10vh;
  }
}

@media screen and (max-width: 1298px) {
  .features-heading h1 {
    margin-left: 64px;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .features-heading h1 span {
    font-size: 5.6vh;
  }

  .features-image img {
    width: 480px;
  }
  .features-list-wrap {
    margin: 20px;
  }

  .feature-details {
    margin: 16px;
  }

  .feature-para {
    line-height: 1.2rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 1180px) {
  .features-heading h1 {
    margin-left: 48px;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  .features-heading h1 span {
    font-size: 5.2vh;
  }

  .features-image img {
    width: 400px;
  }
  .features-list-wrap {
    margin: 20px;
  }
  .feature-icon {
    height: 10vh;
  }

  .feature-title {
    font-size: 16px;
  }
  .feature-para {
    width: 100%;
    line-height: 16px;
    font-size: 12px;
  }
}

/* Mobiles */
@media screen and (max-width: 991px) {
  .features-heading {
    justify-content: center;
    text-align: center;
  }

  .features-heading h1 {
    margin: 0;
  }

  .features-heading h1 span {
    font-size: 64px;
  }

  .features-main {
    justify-content: center;
    flex-direction: column;
  }

  .features-image {
    margin: 4%;
  }

  .features-image img {
    width: 100%;
  }

  .feature-details {
    /* background-color: #3e147d6b; */
    background-color: #d9d9d929;
    width: 40vw;
    padding: 3.4vh 0px;
    border-radius: 16px;
    margin: 2.4vw;
  }

  .feature-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  .feature-title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    left: -15px;
    font-size: 24px;
    font-size: 2.8vw;
  }

  .feature-para {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    padding: 0px 36px;
    top: -32px;
    left: initial;
    font-size: large;
    line-height: normal;
    font-size: 2vw;
  }

  .feature-icon {
    height: 122px;
    left: initial;
    top: initial;
  }
}

@media screen and (max-width: 768px) {
  .features-list-wrap {
    margin-block: 0;
    position: relative;
    overflow: hidden;
    height: 300px;
  }

  .feature-details {
    position: absolute;
    left: 16%;
    width: 64%;
    height: 100%;
    margin: auto;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateX(-100%);
  }

  .feature-details.active {
    opacity: 1;
    transform: translateX(0);
  }

  .feature-details.prev {
    transform: translateX(100%);
  }

  .feature-details.next {
    transform: translateX(-100%);
  }

  .feature-icon {
    width: 100px;
    height: 100px;
  }

  .feature-title {
    font-size: 24px;
  }

  .feature-para {
    margin: auto;
    font-size: 20px;
  }

  .slider-button-wrap {
    display: block;
    text-align: center;
  }

  .slider-button {
    margin: 4px;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #d9d9d9;
  }

  .active-slide {
    background-color: #5ca1fe;
  }
}

@media screen and (max-width: 692px) {
  .feature-details {
    left: 12%;
    width: 76%;
  }

  .features-heading h1 span {
    font-size: 48px;
  }
}

@media screen and (max-width: 578px) {
  .feature-details {
    left: 0;
    width: 100%;
  }
  .features-heading h1 span {
    font-size: 36px;
  }
}

@media screen and (max-width: 512px) {
  .feature-title {
    font-size: 20px;
  }

  .feature-para {
    margin: auto;
    font-size: 16px;
  }
}

@media screen and (max-width: 376px) {
  .features-heading h1 span {
    font-size: 32px;
  }
  .feature-title {
    font-size: 18px;
  }

  .feature-para {
    font-size: 14px;
  }
}
